<!DOCTYPE html>
<html>
<head>
  <title>Audit management software, paperless audits, collaborative audits for auditors</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="font-family: 'Open Sans', sans-serif">

  <div class="container">
    <h2 class="col-lg-offset-1" href="#" style="font-family: 'Montserrat', sans-serif; color: #e74c3c">sreenivas</h2>
    <%= link_to "Blog", "https://sreenivas.wordpress.com", :only_path => true, class: "pull-right" %>
    <a href="mailto:support@sreenivas.com" class="pull-right" style="margin-right:20px">Support </a>
    
  </div>
   <div class="container">
  <div class="page-header"></div>
  </div>   
     
  <div class="container">
   <div class="row-fluid">
     <div class="col-lg-12">
   <h2 class="col-lg-offset-3" href="#" style="font-family: 'Lato', sans-serif;">Your complete audit repository on a secured cloud </h2> 
   <a href="http://white-harbor-rails-62598.apse1.nitrousbox.com/users/sign_up" class="btn btn-danger btn-lg col-lg-offset-4" role="button" >Free till beta, Join now</a>
       <a href="http://white-harbor-rails-62598.apse1.nitrousbox.com/users/sign_in" class="btn btn-success btn-lg" role="button" >Sign in to your account</a>  
    
     </div>
    </div>
  </div>

  <div class="container">
  <div class="page-header"></div>
  </div> 

  <div class="container">
  <div class="row-fluid">
  
  <div class="col-lg-5 col-md-5 col-lg-offset-1">
    
  <div class="media">
  <a class="pull-left" href="#">
  <%= image_tag("cloudsave.png", :alt => "Save audits on cloud", :width => '96') %>
  </a>
  <div class="media-body">
  <h3 class="media-heading">Paperless audit storage</h3>
  A Cloud enabled repository for all your audits and related data. All your audits are stored on secured cloud environment, now carry your audits wherever you travel.
  </div>
  </div>
  </div>  
  
  <div class="col-lg-5 col-md-5 col-lg-offset-1">
    
  <div class="media">
  <a class="pull-left" href="#">
  <%= image_tag("aim.png", :alt => "Audit Insta add", :width => '96') %>
  </a>
  <div class="media-body">
  <h3 class="media-heading">Never miss an audit</h3>
  An inbuilt audit alert system to make sure you never miss an audit. An email notification system (SMS coming soon) ensures you stay ahead with your audit schedules
  </div> 
  </div>
  </div> 
    
  
  </div> <!-- end row -->
  </div> <!-- end container -->

  
  <div class="container">
  <div class="page-header"></div>
  </div> 

  <div class="container">
  <div class="row-fluid">
  
  <div class="col-lg-5 col-lg-offset-1">
    
  <div class="media">
  <a class="pull-left" href="#">
  <%= image_tag("follow.png", :alt => "sreenivas InstaSearch", :width => '96') %>
  </a>
  <div class="media-body">
  <h3 class="media-heading">Auto follow-up</h3>
  Focus on audits that are in process and let sreenivas follow-up with auditees to close the findings. A reminder is sent to auditee every week with pending actionables.
  </div>
  </div>
  </div>  
  
  <div class="col-lg-5 col-lg-offset-1">
    
  <div class="media">
  <a class="pull-left" href="#">
  <%= image_tag("newreport.png", :alt => "Audit Insta add", :width => '96') %>
  </a>
  <div class="media-body">
  <h3 class="media-heading">Instant audit reports</h3>
 With one click generate a pdf copy (word format coming soon) with all the observations. Later tweak the report to your satisfaction and share.
  </div>
  </div>
  </div> 
    
  
  </div> <!-- end row -->
  </div> <!-- end container -->

  <div class="container">
  <div class="page-header"></div>
  </div> 

  <div class="container">
  <div class="row-fluid">
  
  <div class="col-lg-5 col-lg-offset-1">
    
  <div class="media">
  <a class="pull-left" href="#">
  <%= image_tag("chart.png", :alt => "sreenivas InstaSearch", :width => '96') %>
  </a>
  <div class="media-body">
  <h3 class="media-heading">InstaDashboards</h3>
  Get instant information on audits, pending CAPA's, upcoming audits and open audits (greater than 30 days) all in one place.
  </div>
  </div>
  </div>  
  
  <div class="col-lg-5 col-lg-offset-1">
    
  <div class="media">
  <a class="pull-left" href="#">
  <%= image_tag("alert1.png", :alt => "Instant alerts", :width => '96') %>
  </a>
  <div class="media-body">
  <h3 class="media-heading">InstaAlerts</h3>
  Get email alerts on weekly status, audit creations and closures. Sms Alerts (Coming Soon)
  </div>
  </div>
  </div> 
    
  
  </div> <!-- end row -->
  </div> <!-- end container -->  
  
<div class="container">


<br/>
<br/>
<%= yield %>
</div>
  
   <div class="page-header"></div>
   <div class="container">
     <h1 class="col-lg-offset-4" style="font-family: 'Lato', sans-serif;"> Who uses sreenivas?   </h1> 
     <div class="col-lg-5">
     <div class="well">
       <ul >
       <li><h4>Internal Auditors</h4></li>
       <li><h4>Independent Auditors</h4></li>
        <li><h4>Quality Managers</h4></li>
         </ul>
       </div>
       </div>
    <div class="col-lg-5 col-lg-offset-2">
      <div class="well">
     <ul >
       <li><h4>Lead Auditors</h4></li>
       <li><h4>Management Representatives</h4></li>
       <li><h4>Consultants</h4></li>
     </ul>
   </div>
       </div>
  </div>
  <div class="page-header"></div>
  

   <div class="container">
     <h1 class="col-lg-offset-4" style="font-family: 'Lato', sans-serif;">Conduct range of audits   </h1> 
     <div class="col-lg-5">
        <div class="well">
     <ul >
       <li><h4>ISO audits</h4></li>
       <li><h4>Process or performance audits</h4></li>
        <li><h4>Risk based audits</h4></li>
         </ul> 
               </div>
       </div>
    <div class="col-lg-5 col-lg-offset-2">
        <div class="well">
     <ul >
       <li><h4>Statutory audits</h4></li>
       <li><h4>Vendor or supplier audits</h4></li>
       <li><h4>Second or Third party</h4></li>
     </ul>
          </div>
   </div>
  </div>
  <div class="page-header"></div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit col-lg-offset-5">Made in India with love by <a href="http://16columns.wordpress.com/">16columns</a>. | 
          <%= link_to(image_tag("twitter.png", :alt => "logo", :title => "https://twitter.com/sreenivas", size: "48x48"), "https://twitter.com/sreenivas",) %> </p>
      </div>
    </div>



</body>
</html>
